body {
  margin-left: 200px;
}

ul {
  text-align: right;
  list-style-position: inside;
}

.header-lists {
  text-align:right; 
}

* {
  /* border: 2px solid black; */
}

p {
  max-width: 2000px;
}

.picture img {
  width: 75%;
  height: 50%;
}